html {
    min-height: 100%;
}

body {
    margin: 0;
    background-image: -webkit-linear-gradient(top right, #03172b 0%, #021f2c 25%, #021f2c 50%, #062d3f 75%, #072e41  100%);
    height: 100%;
}

header {
    height: 15vh;
}

main {
    height: 85vh;
    width: 100%;
}

h1 {
    font-family: 'Neonderthaw';
    font-size: 70px;
    text-align: center;
    word-spacing: 10px;
    color: rgb(255, 16, 240);
    font-variant: small-caps;
    margin: 0;
}

.counter-container {
    position: relative;
    width: 80vw;
    height: 70vh;
    left: 10vw;
    top: 5vh;

    color: rgb(255, 16, 240);    
    border: 5px double rgb(57,255,20);
    border-radius: 10px;
    word-wrap: break-word;
}

#numberContainer {
    position: relative;    
    height: 100%;
    margin: 0;
}

.number-displayed {
    position: absolute;
    font-size: 300px;
    width: 100%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Expletus Sans', 'Poor Story';
    text-align: center;
    vertical-align: middle;
}

.reset-button {
    position: absolute;
    margin-left: 50%;
    left: -5vh;
    top: -40px;

    width: 90px;
    height: 25px;
    font-variant: small-caps;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #ffd600;
    border-radius: 10px;
    z-index: 2;
}

.fa-window-restore {
    color: rgb(57,255,20);
}

.reset-button {   
    color: rgb(255, 16, 240);
}

.reset-button:hover {
    cursor: pointer;
    border: 3px double rgb(255, 16, 240);
    
    transition: 0.5s;
}

.reset-button:hover .fa-window-restore {
    color: #ffd600;
}

.reset-button:hover {
    color: rgb(57,255,20);
}

.minus-container {
    position: absolute;
    left: -44px;
    bottom: -42px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.minus-one,
.minus-ten,
.minus-hundred{    
    color: rgb(255, 16, 240);
    background-color: transparent;
    border: none;
    border: 3px double #FFFE37;
    border-radius: 50%;
    align-content: center;
}

.minus-one {
    width: 80px;
    height: 80px;
    font-size: 70px;
    padding: 0;
}

.less {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 2.5vh 2.5vh;
    padding-top: 20px;
    rotate: -135deg;

    left: 80px;
    bottom: 35px;
    width: 5vh;
    height: 12vh;
    display: none;
}

.minus-container:hover .less {    
    display: block;
}

.minus-ten,
.minus-hundred {
    width: 40px;
    height: 40px;
    rotate: 135deg;
    margin: 10px 0;
}

.plus-container {
    position: absolute;
    right: -43px;
    top: -44px;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.plus-one,
.plus-ten,
.plus-hundred{
    border-radius: 50%;
    color: rgb(255, 16, 240);
    background-color: transparent;
    border: none;
    border: 3px double #FFFE37;
    text-align: center;
}

.plus-one {
    width: 80px;
    height: 80px;
    font-size: 70px;
}

.more {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 2.5vh 2.5vh;
    padding-top: 20px;
    rotate: 45deg;

    right: 80px;
    top: 45px; 
    width: 5vh;
    height: 12vh;
    display: none;
}

.plus-container:hover .more {    
    display: block;
}

.plus-ten,
.plus-hundred {
    width: 40px;
    height: 40px;
    rotate: -45deg;
    margin: 10px 0;
}

.minus-ten,
.minus-hundred,
.plus-ten,
.plus-hundred {
        font-size: 12px;
    }

.plus-one:hover,
.plus-ten:hover,
.plus-hundred:hover,
.minus-one:hover,
.minus-ten:hover,
.minus-hundred:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #FFFE37;
    border: 3px double rgb(255, 16, 240);
}


/* RESPONSIVE */

@media only screen and (max-width: 500px) {
    header {
        height: 8vh;
    }

    main {
        height: 92vh;
    }

    h1 {
        font-size: 20px;
        transform: translateY(50%);
    }

    .reset-button {
        top: -50px;
    }

    .counter-container {
        width: 75vw;
        height: 70vh;
        left: 11vw;
        top: 7vh;
    }
    
    .number-displayed {        
        font-size: 150px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
    header {
        height: 8vh;
    }

    main {
        height: 92vh;
    }

    h1 {
        font-size: 40px;
        transform: translateY(50%);
    }

    main {
        margin-top: 50px;
    }

    .counter-container {
        width: 75vw;
        height: 70vh;
        left: 11vw;
        top: 7vh;
    }
    
    .number-displayed { 
        font-size: 200px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    header {
        height: 8vh;
    }

    main {
        height: 92vh;
        transform: translateY(50%);
    }

    h1 {
        font-size: 55px;
    }

    .number-displayed {
        font-size: 250px;
    }
}